
  <b:resource src="layout.css" />

  <div id="layout">
    <div id="sidebar">
      <!--{list}-->
    </div>
    <div id="content">
      <!--{fileStat}-->
      <!--{details}-->
    </div>
  </div>