
  #fileStat
  {
    z-index: 1000;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
    background: #E0E0E0;
    background: rgba(0, 0, 0, .6);
    color: white;
    border-radius: 3px;
    font-size: 85%;
  }

  #fileStat .header
  {
    border-bottom: 1px solid white;
  }

  #fileStat .footer .count
  {
    float: right;
  }