<b:style src="node.css"/>

<svg:circle class="graph-node graph-node-{type} graph-node-{selected} graph-node-{matched}"
  cx="{x}"
  cy="{y}"
  r="8"
  event-click="select hover"
  event-mouseover="hover"
  event-mouseout="unhover"
  />