.graph-file-info-popup
{
  pointer-events: none;
  opacity: .8;
}

.graph-file-info-popup__path
{
  font-size: 80%;
  text-align: center;
}
.graph-file-info-popup__name
{
  text-align: center;
  padding: 4px 0 2px;
}