<b:style src="./type.css" />

<div class="file-type file-type_{selected}" event-click="select">
  <span class="file-type-count">{count}</span>
  <span class="file-type-title">{type}</span>
</div>
